body {
    background-color: #0a1010;
    padding: 0;
    margin: 0;
    font-family: georgia,serif;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: #5e5e5e;
    background-position: top center;

    
}
